html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

.error {
  color: #dc3545
}

.screenshot-image {
  width: 30%;
  border-radius: 6px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;

  img {
    width: 100%;
  }

}

.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  position: relative;
}

.scale-effect {
  transform: scaleX(-1);
}

video {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.video-options {
  position: absolute;
  left: 20px;
  top: 30px;
}

.controls {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}

@media (min-width: 300px) and (max-width: 400px) {
  .controls {
    flex-direction: column;

    button {
      margin: 5px 0 !important;
    }
  }
}

.controls > button > svg {
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls button.play {
  border: 2px solid #D2002E;

  &:hover {
    background-color: #D2002E;

    svg {
      fill: white;
      stroke: white
    }
  }

  svg {
    color: #D2002E;
    fill: #D2002E;
    stroke: #D2002E;

    &:hover {
      fill: white;
      stroke: white
    }
  }
}

.controls button.pause {
  border: 2px solid #008496;

  &:hover {
    background-color: #008496;

    svg {
      fill: white;
      stroke: white
    }
  }

  svg {
    color: #008496;
    fill: #008496;
    stroke: #008496;

    &:hover {
      fill: white;
      stroke: white
    }
  }
}

.controls button.screenshot {
  border: 2px solid #00B541;

  &:hover {
    background-color: #00B541;

    svg {
      fill: white;
      stroke: white
    }
  }

  svg {
    color: #00B541;
    fill: #00B541;
    stroke: #00B541;

    &:hover {
      fill: white;
      stroke: white
    }
  }
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;
  display: flex;
  align-items: center;

  &:hover {
    svg {
      color: white;
    }
  }
}

.d-none {
  display: none !important;
}